html, body {
  color: #111;
}

section.row {
  min-height: 300px;
  padding-top: 5rem;
}

/* .block-grid */
.block-grid {
  list-style: none;
  padding: 0;
}

.block-grid:before,
.block-grid:after {
  content: "";
  display: table;
  clear: both;
}

.block-grid > li {
  list-style: none;

  float: left;
  width: 33.33333%;
}

.block-grid > li:nth-child(3n + 1) {
  clear: both;
}

/* end of .block-grid */


/* .bid-list */
.bid-list {

}

.bid-list .bid-list-item {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.bid-list .bid-list-item .title {
  position: absolute;
  width: 100%;
  padding: 0 15px;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.bid-list .bid-list-item dl.activity {
  margin: 0;
}

/* end of .bid-list */
