html, body {
  color: #111;
}

section.row {
  min-height: 300px;
  padding-top: 5rem;
}

/* .block-grid */
.block-grid {
  list-style: none;
  padding: 0;
}

.block-grid:before,
.block-grid:after {
  content: "";
  display: table;
  clear: both;
}

.block-grid > li {
  list-style: none;

  float: left;
  width: 33.33333%;
}

.block-grid > li:nth-child(3n + 1) {
  clear: both;
}

/* end of .block-grid */


/* .listing-list */
.listing-list {

}

.listing-list .listing-list-item {
  position: relative;
  /*padding-left: 1rem;*/
  /*padding-right: 1rem;*/
  /*padding-bottom: 2rem;*/

  background-size: cover;
  background-clip: content-box;
}

.listing-list .listing-list-item:after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.listing-list .listing-list-item .title {
  position: absolute;
  width: 100%;
  padding: 0.5rem 1rem;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.listing-list .listing-list-item .content {
  position: absolute;
  width: 100%;
  bottom: 0;

  padding: 1rem 1rem 2rem 1rem;

  background: rgba(255, 255, 255, 0.8);
}

.listing-list .listing-list-item .description {

}

.listing-list .listing-list-item dl.activity {
  margin: 0;
}

/* end of .listing-list */
