<div class="dashboard">
  <div class="panel panel-default">
    <div class="panel-heading">Listings</div>
    <div class="panel-body">
      <div class="listing-list">
        <ul class="block-grid">
          <li ng-repeat="listing in listings">
            <div class="listing-list-item">
              <h3 ng-bind="listing.title" class="title"></h3>
              <div class="thumbnail">
                <img ng-src="{{listing.image_url}}">
              </div>
              <dl class="dl-horizontal activity">
                <dt>Price:</dt>
                <dd ng-bind="listing.price"></dd>

                <dt>Place new listing</dt>
                <dd><button class="btn btn-small btn-success" ng-click="onPlaceBidClick(listing)">BID</button></dd>
              </dl>
              <p ng-bind="listing.description"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Start Selling Today!</h1>
        <button class="btn btn-success btn-lg" ng-click="onPostListingClick()">
          Post
        </button>
      </div>
    </div>
  </div>
</div>
