<div class="dashboard">
  <div class="panel panel-default">
    <div class="panel-heading">Listings</div>
    <div class="panel-body">
      <div class="bid-list">
        <ul class="block-grid">
          <li ng-repeat="bid in listings">
            <div class="bid-list-item">
              <h3 ng-bind="bid.title"></h3>
              <p ng-bind="bid.description"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Start Selling Today!</h1>
        <button class="btn btn-success btn-lg" ng-click="onPostListingClick()">
          Post
        </button>
      </div>
    </div>
  </div>
</div>
