<div class="dashboard">
  <h1>DASHBOARD</h1>

  <erbid-listing-modal></erbid-listing-modal>

  <div class="panel panel-default">
    <div class="panel-heading">Listings</div>
    <div class="panel-body">
      <div class="bid-list">
        <ul class="block-grid">
          <li ng-repeat="bid in listings">
            <div class="bid-list-item">
              <h3 ng-bind="bid.title"></h3>
              <p ng-bind="bid.description"></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


</div>
